@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Heebo:900');




body{
  background-color: #CCCC99;
}
.button {

  background-color: #4CAF50;
  font-size: 24px;

  float: left;
  border: 1px solid green;

}

.button:hover{
  background-color: #ffc600;

}

p{

  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
table, th, td {
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
}
#table{
  overflow:hidden;
  overflow:scroll;
}

input[type=text]{
  width : 150px;
  height: 70px;
}
